<main class="container mb-5">

	<div class="row mb-3">

		<div class="col-md-12 text-center mt-5">
			<h1>Search Results</h1>
			<p>
				<i>Showing results for title 'Harry Potter'</i>
			</p>
			<hr class="mt-3">

		</div>
	</div>
	
	<div class="searchrow row mb-3">
		<div class="col-md-3 text-center">
			<img class="search-image" src="assets/img/search-images/hp1.jpeg">
		</div>
		<div class="searchbody col-md-6">
			<article class="card mt-3">
				<div class="card-body row">
					<div class="col-md-11">
						<h4 class="card-title">Harry Potter and the Sorcerer's Stone</h4>
						<h6 class="card-subtitle mb-2 text-muted">by
							<span>
								<a href="#">J.K. Rowling</a>
							</span>
						</h6>
						<p>
							<b class="text-uppercase">7 in stock </b>
							<span class="alert">
								<i> {{this.reservationStatus}}</i>
							</span>
						</p>
						<button class="btn btn-success text-uppercase action-btn-cancel-media" type="button" data-medium-id="{{this.Medium.id}}"
						data-user-id="{{../userData.id}}">
						Reserve Book
					</button>
				</div>
				<div class="col-md-1">
					<span class="favorite-book actionBtnFav" data-medium-id="{{this.Medium.id}}" data-user-id="{{../userData.id}}">
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			</article>
		</div>
	</div>
	
	<hr>

	<div class="searchrow row mb-3">
		<div class="col-md-3 text-center">
			<img class="search-image" src="assets/img/search-images/hp2.jpg">
		</div>
		<div class="searchbody col-md-6">
			<article class="card mt-3">
				<div class="card-body row">
					<div class="col-md-11">
						<h4 class="card-title">Harry Potter and the Chamber of Secrets</h4>
						<h6 class="card-subtitle mb-2 text-muted">by
							<span>
								<a href="#">J.K. Rowling</a>
							</span>
						</h6>
						<p>
							<b class="text-uppercase">5 in stock </b>
							<span class="alert">
								<i> {{this.reservationStatus}}</i>
							</span>
						</p>
						<button class="btn btn-success text-uppercase action-btn-cancel-media" type="button" data-medium-id="{{this.Medium.id}}"
						data-user-id="{{../userData.id}}">
						Reserve Book
					</button>
				</div>
				<div class="col-md-1">
					<span class="favorite-book actionBtnFav" data-medium-id="{{this.Medium.id}}" data-user-id="{{../userData.id}}">
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			</article>
		</div>
	</div>
	
	<hr> 

	<div class="searchrow row mb-3">
		<div class="col-md-3 text-center">
			<img class="search-image" src="assets/img/search-images/hp3.jpg">
		</div>
		<div class="searchbody col-md-6">
			<article class="card mt-3">
				<div class="card-body row">
					<div class="col-md-11">
						<h4 class="card-title">Harry Potter and the Prisoner of Azkaban</h4>
						<h6 class="card-subtitle mb-2 text-muted">by
							<span>
								<a href="#">J.K. Rowling</a>
							</span>
						</h6>
						<p>
							<b class="text-uppercase">6 in stock </b>
							<span class="alert">
								<i> {{this.reservationStatus}}</i>
							</span>
						</p>
						<button class="btn btn-success text-uppercase action-btn-cancel-media" type="button" data-medium-id="{{this.Medium.id}}"
						data-user-id="{{../userData.id}}">
						Reserve Book
					</button>
				</div>
				<div class="col-md-1">
					<span class="favorite-book actionBtnFav" data-medium-id="{{this.Medium.id}}" data-user-id="{{../userData.id}}">
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			</article>
		</div>
	</div>

	<hr> 

	<div class="searchrow row mb-3">
		<div class="col-md-3 text-center">
			<img class="search-image" src="assets/img/search-images/hp4.jpg">
		</div>
		<div class="searchbody col-md-6">
			<article class="card mt-3">
				<div class="card-body row">
					<div class="col-md-11">
						<h4 class="card-title">Harry Potter and the Goblet of Fire</h4>
						<h6 class="card-subtitle mb-2 text-muted">by
							<span>
								<a href="#">J.K. Rowling</a>
							</span>
						</h6>
						<p>
							<b class="text-uppercase">4 in stock </b>
							<span class="alert">
								<i> {{this.reservationStatus}}</i>
							</span>
						</p>
						<button class="btn btn-success text-uppercase action-btn-cancel-media" type="button" data-medium-id="{{this.Medium.id}}"
						data-user-id="{{../userData.id}}">
						Reserve Book
					</button>
				</div>
				<div class="col-md-1">
					<span class="favorite-book actionBtnFav" data-medium-id="{{this.Medium.id}}" data-user-id="{{../userData.id}}">
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			</article>
		</div>
	</div>

	<hr> 

	<div class="searchrow row mb-3">
		<div class="col-md-3 text-center">
			<img class="search-image" src="assets/img/search-images/hp5.jpg">
		</div>
		<div class="searchbody col-md-6">
			<article class="card mt-3">
				<div class="card-body row">
					<div class="col-md-11">
						<h4 class="card-title">Harry Potter and the Order of the Phoenix</h4>
						<h6 class="card-subtitle mb-2 text-muted">by
							<span>
								<a href="#">J.K. Rowling</a>
							</span>
						</h6>
						<p>
							<b class="text-uppercase">6 in stock </b>
							<span class="alert">
								<i> {{this.reservationStatus}}</i>
							</span>
						</p>
						<button class="btn btn-success text-uppercase action-btn-cancel-media" type="button" data-medium-id="{{this.Medium.id}}"
						data-user-id="{{../userData.id}}">
						Reserve Book
					</button>
				</div>
				<div class="col-md-1">
					<span class="favorite-book actionBtnFav" data-medium-id="{{this.Medium.id}}" data-user-id="{{../userData.id}}">
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			</article>
		</div>
	</div>

	<hr> 

	<div class="searchrow row mb-3">
		<div class="col-md-3 text-center">
			<img class="search-image" src="assets/img/search-images/hp6.jpg">
		</div>
		<div class="searchbody col-md-6">
			<article class="card mt-3">
				<div class="card-body row">
					<div class="col-md-11">
						<h4 class="card-title">Harry Potter and the Half-Blood Prince</h4>
						<h6 class="card-subtitle mb-2 text-muted">by
							<span>
								<a href="#">J.K. Rowling</a>
							</span>
						</h6>
						<p>
							<b class="text-uppercase">4 in stock </b>
							<span class="alert">
								<i> {{this.reservationStatus}}</i>
							</span>
						</p>
						<button class="btn btn-success text-uppercase action-btn-cancel-media" type="button" data-medium-id="{{this.Medium.id}}"
						data-user-id="{{../userData.id}}">
						Reserve Book
					</button>
				</div>
				<div class="col-md-1">
					<span class="favorite-book actionBtnFav" data-medium-id="{{this.Medium.id}}" data-user-id="{{../userData.id}}">
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			</article>
		</div>
	</div>

	<hr>

	<div class="searchrow row mb-3">
		<div class="col-md-3 text-center">
			<img class="search-image" src="assets/img/search-images/hp7.jpg">
		</div>
		<div class="searchbody col-md-6">
			<article class="card mt-3">
				<div class="card-body row">
					<div class="col-md-11">
						<h4 class="card-title">Harry Potter and the Deathly Hallows</h4>
						<h6 class="card-subtitle mb-2 text-muted">by
							<span>
								<a href="#">J.K. Rowling</a>
							</span>
						</h6>
						<p>
							<b class="text-uppercase">3 in stock </b>
							<span class="alert">
								<i> {{this.reservationStatus}}</i>
							</span>
						</p>
						<button class="btn btn-success text-uppercase action-btn-cancel-media" type="button" data-medium-id="{{this.Medium.id}}"
						data-user-id="{{../userData.id}}">
						Reserve Book
					</button>
				</div>
				<div class="col-md-1">
					<span class="favorite-book actionBtnFav" data-medium-id="{{this.Medium.id}}" data-user-id="{{../userData.id}}">
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			</article>
		</div>
	</div>






	{{!-- <div class="col-md-4 text-center">
		<img src="http://books.google.com/books/content?id=JpLNQgAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" class="search-image" alt="I am a profile picture">
	</div>
	
	<div class="col-md-8 border-lv">

	<article class="card mt-3">
		<div class="card-body row">
			<div class="col-md-11">
				<h4 class="card-title">Title</h4>
				<h6 class="card-subtitle mb-2 text-muted">by
					<span>
						<a href="#">Author</a>
					</span>
				</h6>
				<p>
					<b class="text-uppercase">Status: </b>
					<span class="alert">
						<i> {{this.reservationStatus}}</i>
					</span>
				</p>
				<button class="btn btn-success text-uppercase action-btn-cancel-media" type="button" data-medium-id="{{this.Medium.id}}"
				data-user-id="{{../userData.id}}">
				Cancel Reservation
			</button>

		</div>
		<div class="col-md-1">
			<span class="favorite-book actionBtnFav" data-medium-id="{{this.Medium.id}}" data-user-id="{{../userData.id}}">
				<i class="fa fa-heart-o" aria-hidden="true"></i>
			</span>
		</div>
		</div>
		<hr>
	</article>
</div> --}}
</main>